In [1]:
# loading to pandas dataframe
import pandas as pd
df = pd.read_csv('Titanic-Dataset.csv')

In [3]:
# Distribution
prob_pd = pd.crosstab(df['Survived'],df['Pclass']) 
prob_pd

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [5]:
# Joint Probability 
joint_prob_pd = pd.crosstab(df['Survived'],df['Pclass'],normalize='all') 
joint_prob_pd

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558

In [6]:
# Marginal Probability 
marginal_prob_pd = pd.crosstab(df['Survived'],df['Pclass'],normalize='all',margins=True)
marginal_prob_pd

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

In [7]:
cond_prob_pd = pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')
cond_prob_pd

Pclass          1         2         3
Survived
0         0.37037  0.527174  0.757637
1         0.62963  0.472826  0.242363